@use "../../styles/breakpoints" as bp;
@use "../../styles/colors" as co;
@use "../../styles/variables" as va;

.container {
  border: 2px solid co.$section-background;
  border-radius: 1rem;
  margin-bottom: va.$section-title-margin;
  padding: 0.5rem;
  background-color: co.$section-background;
  @include bp.xlg {
    padding: 3rem;
  }
}
