@use "../styles/colors" as co;
@use "../styles/breakpoints" as bp;

.accordion_item {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  @include bp.xlg {
    padding: 2rem;
  }
}

.answer {
  margin-top: 2rem;
}

.hidden {
  display: none;
}

.icon {
  color: co.$primary;
  font-size: 3rem;
  @include bp.xlg {
    font-size: 4rem;
  }
}

.question {
  align-items: center;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 2.5rem;

  @include bp.xlg {
    gap: 3rem;
    grid-template-columns: 1fr 3.5rem;
  }
}
