@use "../styles/colors" as co;

.accordion_item {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0.5rem;
}

.answer {
  margin-top: 2rem;
}

.hidden {
  display: none;
}

.icon {
  font-size: 4rem;
}

.question {
  align-items: center;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 3.5rem;
}
