@use "../styles/breakpoints" as bp;

$color: #ddd;

.container {
  border: 2px solid $color;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: $color;
  @include bp.xlg {
    padding: 3rem;
  }
}
