@use "../styles/breakpoints" as bp;
@use "../styles/colors" as co;

.button {
  background-color: co.$primary;
  border-radius: 10%;
  border: 3px solid #fff;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  margin: 0;

  @include bp.sm {
    font-size: 2.5rem;
  }

  &:hover {
    background-color: co.$primary-darker;
    border: 3px solid co.$primary-darker;
    cursor: pointer;
  }
}
