@use "../styles/breakpoints" as bp;
@use "../styles/colors" as co;
@use "../styles/variables" as va;

$icon-right-corner: 0.5rem;
$icon-gap: 0rem;

%icon {
  background-color: transparent;
  color: co.$primary;
  font-size: va.$certyfikaty-icon-smallest-md;
  position: absolute;
  top: 0.5rem;
  z-index: 12;
  @include bp.sm {
    background-color: rgba(0, 0, 0, 0.7);
  }

  @include bp.lg {
    background-color: transparent;
    font-size: va.$certyfikaty-icon-lg-xxxlg;
  }
}

.container {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  @include bp.sm {
    display: block;
    text-align: center;
  }
}

.icon_exit {
  @extend %icon;
  right: $icon-right-corner;
}

.icon_minus {
  @extend %icon;
  right: $icon-right-corner + va.$certyfikaty-icon-smallest-md + $icon-gap;
  @include bp.lg {
    right: $icon-right-corner + va.$certyfikaty-icon-lg-xxxlg + $icon-gap;
  }
}

.icon_plus {
  @extend %icon;
  right: $icon-right-corner + 2 * va.$certyfikaty-icon-smallest-md + 2 * $icon-gap;
  @include bp.lg {
    right: $icon-right-corner + 2 * va.$certyfikaty-icon-lg-xxxlg + 2 * $icon-gap;
  }
}

.figure {
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  width: 80rem;
  max-width: 100%;

  @include bp.sm {
    height: calc(100% - va.$certyfikaty-icon-smallest-md - 1rem);
  }

  @include bp.lg {
    height: calc(100% - 3rem);
  }
}

.img {
  max-width: 100%;
  user-select: none;
}
