@use "../styles/colors" as co;
@use "../styles/breakpoints" as bp;
@use "../styles/variables" as va;

.contact_data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: va.$section-title-margin;
  grid-area: ContactData;

  @include bp.md {
    flex-direction: column;
  }
}

.data_element {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 23.5rem;
  @include bp.sm {
    width: 30.7rem;
  }
  @include bp.md {
    margin-bottom: 4rem;
  }

  & p {
    font-size: 1.6rem;
    font-weight: 600;
    @include bp.sm {
      font-size: 2rem;
    }
  }
}

.icon {
  font-size: 3rem;
  color: co.$primary;
  @include bp.sm {
    font-size: 4.5rem;
  }
}
