@use "../styles/colors" as co;
@use "../styles/breakpoints" as bp;

$bg-color: #fff;

.element {
  margin-bottom: 1rem;

  & textarea {
    height: 12rem;
  }
}

.form {
  grid-area: ContactForm;
}

.input {
  border: 2px solid $bg-color;
  width: 100%;
  background-color: $bg-color;
  padding: 1rem;
  font-size: 1.6rem;
  @include bp.sm {
    font-size: 2rem;
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid co.$primary;
    outline: none;
  }
}

::file-selector-button {
  background-color: $bg-color;
  border: none;
  color: inherit;
}
