@use "../styles/colors" as co;
@use "../styles/breakpoints" as bp;

$bg-color: #fff;
$gap-width: 1.5rem;

@mixin shared {
  margin-bottom: $gap-width;
  @include bp.lg {
    width: calc((100% - $gap-width) / 2);
  }
}

.element {
  @include shared;
}

.form {
  grid-area: ContactForm;

  @include bp.lg {
    display: flex;
    flex-wrap: wrap;
    column-gap: $gap-width;
  }
}

.input {
  border: 2px solid $bg-color;
  width: 100%;
  background-color: $bg-color;
  padding: 1rem;
  font-size: 1.6rem;
  @include bp.sm {
    font-size: 2rem;
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid co.$primary;
    outline: none;
  }
}

::file-selector-button {
  background-color: $bg-color;
  border: none;
  color: inherit;
}

.spinner {
  height: 10rem;
  width: 10rem;
}

.spinner_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include bp.sm {
    flex-direction: row;
  }

  & span {
    text-align: center;
  }
}

.submit {
  @include shared;

  & button {
    background-color: co.$primary;
    color: #fff;
  }
}

.textarea {
  @include shared;
  @include bp.lg {
    width: 100%;
  }

  & textarea {
    height: 12rem;
  }
}
