@use "../styles/breakpoints" as bp;
@use "../styles/variables" as va;

.description {
  margin-bottom: 1.5rem;
}

.figcaption {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.img {
  width: 100%;
}

.tile {
  font-size: 2rem;
  text-align: center;
  width: 100%;

  @include bp.sm {
    width: calc((100% - 1 * va.$main-column-gap-tiles-smallest-sm) / 2);
  }

  @include bp.md {
    width: calc((100% - 1 * va.$main-column-gap-tiles-md-xxxlg) / 2);
  }

  @include bp.lg {
    font-size: 2.5rem;
  }

  @include bp.xxlg {
    width: calc((100% - 2 * va.$main-column-gap-tiles-md-xxxlg) / 3);
  }
}
