@use "../styles/breakpoints" as bp;

$title-bottom-position: 2rem;
$text-left-position: 1rem;

%shared-title {
  left: $text-left-position;
  letter-spacing: 0.4rem;
  position: absolute;
}

%shared-paragraph-container {
  left: $text-left-position;
  position: absolute;
}

.container_md_xxxlg {
  display: none;
  @include bp.md {
    display: block;
  }

  & .paragraph {
    margin-bottom: 0.5rem;
  }

  & .paragraph_container {
    @extend %shared-paragraph-container;
    bottom: $title-bottom-position;
    font-size: 2.1rem;
    @include bp.md {
      font-size: 2.1rem;
    }
    @include bp.lg {
      font-size: 2.3rem;
    }
    @include bp.xlg {
      font-size: 2.8rem;
    }
    @include bp.xxlg {
      font-size: 3.4rem;
    }
  }

  .photo {
    height: 50rem;
    @include bp.md {
      height: 50rem;
    }
    @include bp.lg {
      height: 60rem;
    }
    @include bp.xlg {
      height: 70rem;
    }
    @include bp.xxlg {
      height: 80rem;
    }

    &:nth-child(1) {
      width: 50%;
    }
    &:nth-child(2) {
      width: 25%;
    }
    &:nth-child(3) {
      width: 25%;
    }
  }

  & .title {
    @extend %shared-title;
    font-size: 4.5rem;
    bottom: $title-bottom-position + 11rem;
    @include bp.md {
      bottom: $title-bottom-position + 11rem;
      font-size: 4.5rem;
    }
    @include bp.lg {
      bottom: $title-bottom-position + 13rem;
      font-size: 6rem;
    }
    @include bp.xlg {
      bottom: $title-bottom-position + 15rem;
      font-size: 7rem;
    }
    @include bp.xxlg {
      bottom: $title-bottom-position + 18rem;
      font-size: 8rem;
    }
  }
}

.container_smallest_sm {
  background: linear-gradient(to top, #111, transparent 55%);
  display: block;
  @include bp.sm {
    background: linear-gradient(to top, #111, transparent 40%);
  }

  @include bp.md {
    display: none;
  }

  & .paragraph_container {
    @extend %shared-paragraph-container;
    bottom: $title-bottom-position + 1.5rem;
    font-size: 2.7rem;

    @include bp.sm {
      font-size: 3.3rem;
    }
  }

  & .photo {
    height: 65rem;
    width: 100%;
    position: relative; // z-index works with position different than static
    z-index: -1;

    @include bp.sm {
      height: 80rem;
    }
  }

  & .title {
    @extend %shared-title;
    bottom: $title-bottom-position + 10.5rem;
    font-size: 6rem;
    line-height: 90%;

    @include bp.sm {
      bottom: $title-bottom-position + 8.5rem;
      font-size: 7rem;
    }
  }
}

.hero {
  color: #fff;
  position: relative;
}
