@use "../styles/variables" as va;

$number-of-indicators: 8;
$indicator-width: va.$wycinka-indicator-width;
$gap: 1rem;

.container {
  bottom: 0.8rem;
  display: flex;
  gap: $gap;
  left: calc((100% - ($number-of-indicators * $indicator-width) - (($number-of-indicators - 1) * $gap)) / 2);
  position: absolute;
}
