@use "./styles/colors" as co;
@use "./styles/breakpoints" as bp;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: co.$primary;
  &:hover {
    color: co.$primary-darker;
    cursor: pointer;
  }
}

body {
  color: co.$primary-font;
  font-family: "Lato-Regular", sans-serif;
  font-size: 2rem;
}

li {
  list-style: none;
}
